/* #region page */
body {
  background-color: #0e141b;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  background: url("./assets/images/bg-top-right.svg") right top, url("./assets/images/bg-bottom-left.svg") left bottom;
  background-color: #f5f7fb;
  background-repeat: no-repeat;
  height: 100vh;
  max-height: 700px;
  overflow: auto;
}
/* #endregion */

/* #region main */
.initialize {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  color: #293264;
  /* font-family: Karla; */
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.game-description {
  color: #293264;
  font-family: Inter;
  margin-bottom: 10px;
}

.submit {
  display: block;
  color: #F5F7FB;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  background-color: #23317b;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.2s;
}

.submit:hover {
  background-color: #4d5b9e;
  transform: translateY(2px);
  box-shadow: none;
}
/* #endregion */

/* #region settings */
.settings-form {
  width: 300px;
  margin-bottom: 30px;
}

.form-container {
  padding: 12px 12px 6px;
  background-color: #a0ccff;
}

.input-container {
  margin-bottom: 14px;
}

.label {
  display: block;
  margin-bottom: 4px;
}

.input {
  width: 100%;
  outline: none;
}

.select-category {
  display: block;
}

.setting-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.setting-btn {
  width: 30%;
  padding: 6px;
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.submit-btn {
  color: white;
  background-color: #1677ff;
}
.submit-btn:hover {
  background-color: #4096ff;
}

.reset-btn {
  border-color: #002b3b;
}
.reset-btn:hover {
  color: #4096ff;
  border-color: #00749f;
}

.start-btn {
  width: 70%;
  margin: 20px auto;
  padding: 16px 0;
}
/* #endregion */

/* #region questions */
.quiz {
  max-width: 460px;
  margin: 40px auto;
}

.question {
  padding-bottom: 15px;
  border-bottom: 1px solid #dbdef0;
  margin-bottom: 15px;
}

.question__title {
  color: #293264;
  font-family: Karla;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.answer {
  padding: 4px 8px;
  color: #293264;
  text-align: center;
  font-family: Inter;
  font-size: 10.24px;
  font-weight: 500;
  border: 1px solid #4d5b9e;
  border-radius: 8px;
}

.answer:has(.answer-input:checked) {
  background-color: #d6dbf5;
  border: 1px solid #d6dbf5;
}

.answer-input {
  display: none;
}

.check-btn {
  width: 150px;
  margin: 0 auto;
  padding: 10px 0;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
}

/* #endregion */